:root {
   --main-color: #9acd32;
   --main-color-hover: #8ebd2f;
   --main-color-active: #86b12f;
   --text-color: #384047;
   --separator-color: #ececec;
   --page-padding: 10px 16px;
   --page-background: #fff;
}
